In [34]:
def functiom(name):
    print("heelo",name)
    
functiom("ansh")

heelo ansh

In [35]:
def functiom(name):
    print("heelo",name)
    
ansh="l"   
functiom(ansh)

heelo l

In [39]:
def function(marks):
    print("your total marks",avg(marks))
    
marks=[2,3,4]
function(marks)

NameError: name 'avg' is not defined

In [27]:
def findaverage(*name):
    print("your total marks",name)
    
   
findaverage("kl","lo","kl")

your total marks ('kl', 'lo', 'kl')

In [37]:
def hula(country="norway"):
    print("this is my country",country)
    z
hula("india")
hula()

this is my country india
this is my country norway

In [14]:
def hula(hel):
    for i in hel:
        print(hel)
        
name=["a","b","c"]
hula(name)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [9]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [16]:
def my_function(x):
  return 5 * x

print(my_function(3))

print(my_function(5))
print(my_function(9))

15
25
45

In [17]:
def myfunction():
  pass

In [19]:
def myfunction(*args):
  print(*args)

myfunction("h","j")

h j

In [25]:
def myfunction(**kwargs):
  print(kwargs)

myfunction(contry="h",coutry="j")

{'contry': 'h', 'coutry': 'j'}

In [41]:
def functiom(*args):
    print(args)

functiom("hello","kello")

NameError: name 'hello' is not defined

In [3]:
def function_marks(marks):
    print("your total marks",marks)

marks=[20,30,40]
function_marks(sum(marks))

def your_grade(grade):
    if grade>80:
        print("your gradeis A")
    elif grade>60:
        print ("your grade is b")
    else:
        print("your fail")
    
grade=sum(marks)
your_grade(grade)

your total marks 90
your gradeis A

In [56]:
def total_marks(marks):
    print("your total",marks)
    
def your_grade(grade):
    if grade>80:
        
    elif grade>60:
        print("you got B your grade",grade)
    else:
        print("you failed your grade",grade)



marks=[55,64,75,80,65]
total_marks(sum(marks))

grade=sum(marks)/len(marks)
your_grade(grade)

your total 339
you got B your grade 67.8

In [100]:
def total_marks(marks):
    avragemarks=sum(marks)/len(marks)
    return avragemarks
    
def gradecount(grade):
    if grade >= 80:
        grade="A"
    elif grade >= 60:
        grade="B"
    elif grade >= 50:
        print("you got an c your grade")
    else:
        print("you got an d your grade")
    return grade


marks=[55,64,75,80,65]
print("yout total marks",total_marks(marks))

print("your grade is",gradecount(grade))

yout total marks 67.8
your grade is B

In [101]:
x=5
x +=10

print (x)

15

In [1]:
def funct(food):
    for i in food:
        print(i)
fruit=["t","l","k"]
funct(fruit)

t
l
k

In [4]:
language = "Python"
print("1.", language == "python")

1. False

In [14]:
num=float(input())

if num>0:
    print("positive")
elif num==0:
    print("zero")
elif num<0:
    print("negative")
else:
    print("invalid")

7.8
positive

In [27]:
num=6
count=10
while count>=1:
    product=num*count
    print(num,"*",count,"=",product)
    count=count-1

6 * 10 = 60
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6

In [34]:
lang= ["p","y","t","h","o","n"]

for i in lang:
    if i=="t" or i=="h":
        continue
    print(i)

p
y
o
n

In [48]:
total=0
for i in range(1,101):
    total=total+i
print(total)

5050

In [38]:
total = 0

# looping from 1 to 100
for number in range(1, 101):
    total = total + number
print(total)

5050

In [49]:
def add_numbers(n1, n2):
    result = n1 + n2
    print("The sum is", result)


number1 = 5.4
number2 = 6.7
add_numbers(number1, number2)

The sum is 12.100000000000001

In [56]:
def add_numbers(n1, n2):
    tt = n1 + n2
    return tt

result = add_numbers(5.4, 6.7)
result

12.100000000000001

In [142]:
count=1
while count <= 5:
    if count==3:
        continue
    print(count)
    count += 1

1
2

KeyboardInterrupt:

In [66]:
count=100
while count >= 1:
    print(count)
    count -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [70]:
n=1
l=int(input())
while n<=10:
    k=l*n
    print(l,"*",n,"=",k)
    n+=1

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [110]:
n=0
while n<=50:
    for i in range(1,20):
        if i%2 ==1:
            n+=i
            print(n)

1
4
9
16
25
36
49
64
81
100

In [89]:
for i in range(1,20):
    if i%2 ==1:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [98]:
l=[]
for i in range(1,20):
    if i%2 ==1:
        print(i)
i

1
3
5
7
9
11
13
15
17
19

19

In [156]:
n=0

for i in range(1,20,2):
        n=n+i
        print(n)

1
4
9
16
25
36
49
64
81
100

In [139]:
l=[1,4,9,16,25,36,49,64,81,100]
i=0
k=len(l)-1
while i<=k:
    print(l[i],i)
    i+=1

1 0
4 1
9 2
16 3
25 4
36 5
49 6
64 7
81 8
100 9

In [152]:
l=[1,4,9,16,25,36,49,64,81,100]
for i in l:
    if i==36:
        print("found",i)
        continue
    print(i)

1
4
9
16
25
found 36
49
64
81
100

In [155]:
n=0
for i in range(1,20):
    if i%2==1:
        n+=i
        if n==36:
            print("found",n)
            break
        print(n)

1
4
9
16
25
found 36

In [165]:
n=int(input())
for i in range(1,11):
    k=n*i
    print(n,"*",i,"=",k)

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [163]:
i=range(101)
print(i)

range(0, 101)

In [167]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [169]:
for i in range(101,1,-1):
    print(i)

101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [19]:
i=1
k=[]
while i<=10:
    k.append(i)
    i+=1
print(sum(k))

TypeError: 'int' object is not callable

In [18]:
n=int(input())
sum=0
for i in range(0,n+1):
    sum+=i
print(sum)

5
15

In [182]:
n=5
for i in range(n,0,-1):
    print(i)

5
4
3
2
1

In [22]:
n=int(input())
if n%2==1:
    print("weird")
elif n in range(2,6):
    print("not wierd")
elif n in range(6,21):
    print("wierd")
else:
    print("Not Weird")

23
weird

In [3]:
11%2

1

In [ ]:
Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  2to5 , print Not Weird
If  is even and in the inclusive range of  5to20 , print Weird
If  is even and greater than 20, print Not Weird

In [ ]:
The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [29]:
n=int(input())
m=int(input())
print("the sum is",n+m)
print("the difference is",n-m)
print("the produxt is",n*m)

6
7
the sum is 13
the difference is -1
the produxt is 42

In [30]:
The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

SyntaxError: invalid syntax (877764089.py, line 1)

In [33]:
n=int(input())
m=int(input())
print("the result of int dev",n//m)
print("the result of flot",n/m)

6
7
the result of int dev 0
the result of flot 0.8571428571428571

In [ ]:
The provided code stub reads and integer,n , from STDIN. For all non-negative integersi<n ,isqaure print .

In [17]:
n=int(input())
for i in range(0,100):
    if i<n:
        print(i*i)

6
0
1
4
9
16
25

In [ ]:
Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [51]:
def leap_year(year):
    leap= False
    if year%4==0 & year%100==0 & year%400==0:
        leap= True
        return leap

year=int(input())
leap_year(year)

1800

True

In [41]:
def minion(game):

1

In [3]:
zz

avg 2.0

In [15]:
k=["h","l","n"]
def listt(a):
    for i in a:
        print(i,end="")

listt(k)

hln

In [9]:
k=["h","l","n"]
list(k)

['h', 'l', 'n']

In [ ]:
n=1
s=1
while n<=6:
    s*=n
    n-=1