In [10]:
# Import necessary library
import pymysql

# MySQL connection details
connection_details = {
    'host': 'localhost',
    'user': 'root',
    'password': '98919891',
    'database': 'health'
}

try:
    # Attempt to establish a connection
    connection = pymysql.connect(
        host=connection_details['host'],
        user=connection_details['user'],
        password=connection_details['password'],
        database=connection_details['database']
    )
    print("Connection to the MySQL database established successfully.")
except pymysql.MySQLError as e:
    print("Failed to connect to the database.")
    print(f"Error: {e}")
finally:
    # Close the connection
    if 'connection' in locals() and connection.open:
        connection.close()
        print("Connection closed.")

Connection to the MySQL database established successfully.
Connection closed.

In [12]:
import pymysql

# MySQL connection details
connection_details = {
    'host': 'localhost',
    'user': 'root',
    'password': '98919891',
    'database': 'health'
}

try:
    # Establish connection
    connection = pymysql.connect(
        host=connection_details['host'],
        user=connection_details['user'],
        password=connection_details['password'],
        database=connection_details['database']
    )
    print("Connection to the MySQL database established successfully.")

    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Example: Select all rows from a table named 'patients'
    cursor.execute("SELECT * FROM patients")

    # Fetch all results
    rows = cursor.fetchall()

    # Print the results (rows)
    for row in rows:
        print(row)

except pymysql.MySQLError as e:
    print("Failed to connect to the database.")
    print(f"Error: {e}")
finally:
    # Close the connection
    if 'connection' in locals() and connection.open:
        connection.close()
        print("Connection closed.")

Connection to the MySQL database established successfully.
(1, 1, datetime.date(2024, 4, 5), 'Dr. Sarah Lee', 'Routine Check-up', 'Patient managing well, continue current medication')
(2, 2, datetime.date(2024, 4, 3), 'Dr. Mike Brown', 'Routine Check-up', 'Adjust insulin dosage')
(3, 3, datetime.date(2024, 4, 10), 'Dr. Sarah Lee', 'Follow-up', 'Check blood pressure and adjust medication')
(4, 4, datetime.date(2024, 3, 29), 'Dr. Emily Clark', 'Routine Check-up', 'Recommend dietary changes')
(5, 5, datetime.date(2024, 4, 15), 'Dr. Mike Brown', 'Emergency', 'Hypoglycemic event, provided treatment')
(6, 6, datetime.date(2024, 4, 8), 'Dr. Sarah Lee', 'Follow-up', 'Good progress, keep up with the exercise')
(7, 7, datetime.date(2024, 4, 12), 'Dr. Emily Clark', 'Routine Check-up', 'Adjust medication, monitor closely')
(8, 8, datetime.date(2024, 3, 25), 'Dr. Mike Brown', 'Routine Check-up', 'Stable condition, continue treatment')
(9, 9, datetime.date(2024, 4, 20), 'Dr. Sarah Lee', 'Follow-up', 'Gestational diabetes management')
(10, 10, datetime.date(2024, 4, 18), 'Dr. Emily Clark', 'Routine Check-up', 'Encouraged weight management')
(11, 1, datetime.date(2024, 5, 5), 'Dr. Sarah Lee', 'Follow-up', 'Continue with current plan, next checkup in 3 months')
(12, 2, datetime.date(2024, 5, 3), 'Dr. Mike Brown', 'Emergency', 'Advised hospital visit for further tests')
(13, 3, datetime.date(2024, 5, 10), 'Dr. Sarah Lee', 'Routine Check-up', 'Stable HbA1c, review in 6 months')
(14, 5, datetime.date(2024, 5, 15), 'Dr. Mike Brown', 'Follow-up', 'Positive response to new insulin')
(15, 7, datetime.date(2024, 5, 12), 'Dr. Emily Clark', 'Routine Check-up', 'Continue monitoring glucose levels')
Connection closed.

In [13]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# MySQL connection details (use your existing connection details here)
connection_details = {
    'host': 'localhost',
    'user': 'root',
    'password': '98919891',
    'database': 'health'
}

# Create engine with MySQL connection string
engine = create_engine(f'mysql+pymysql://{connection_details["user"]}:{connection_details["password"]}@{connection_details["host"]}/{connection_details["database"]}')

# Extract: Simulate data retrieval
data = {
    'Order_ID': [1, 2, 3, 4, 5],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
    'Order_Amount': [200, 150, np.nan, 400, 300],
    'Order_Date': ['2023-12-01', '2023-12-02', '2023-12-03', None, '2023-12-05']
}
df = pd.DataFrame(data)

print("Extracted Data:")
print(df)

# Transform: Clean data
df['Customer_Name'] = df['Customer_Name'].fillna('Unknown')  # Handle missing customer names
df['Order_Amount'] = df['Order_Amount'].fillna(df['Order_Amount'].mean())  # Impute missing amounts
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')  # Convert to datetime
df.dropna(subset=['Order_Date'], inplace=True)  # Remove rows with missing dates

print("\nTransformed Data:")
print(df)

# Load: Save to a MySQL database
df.to_sql('ecommerce_data', con=engine, index=False, if_exists='replace')

# Verify data in database
loaded_data = pd.read_sql('SELECT * FROM ecommerce_data', con=engine)
print("\nLoaded Data:")
print(loaded_data)

Extracted Data:
   Order_ID Customer_Name  Order_Amount  Order_Date
0         1         Alice         200.0  2023-12-01
1         2           Bob         150.0  2023-12-02
2         3       Charlie           NaN  2023-12-03
3         4          None         400.0        None
4         5           Eve         300.0  2023-12-05

Transformed Data:
   Order_ID Customer_Name  Order_Amount Order_Date
0         1         Alice         200.0 2023-12-01
1         2           Bob         150.0 2023-12-02
2         3       Charlie         262.5 2023-12-03
4         5           Eve         300.0 2023-12-05

Loaded Data:
   Order_ID Customer_Name  Order_Amount Order_Date
0         1         Alice         200.0 2023-12-01
1         2           Bob         150.0 2023-12-02
2         3       Charlie         262.5 2023-12-03
3         5           Eve         300.0 2023-12-05