In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py
import cufflinks as cf
import plotly.offline as po
import datetime as dt
%matplotlib inline

In [11]:
clone_deet=pd.read_csv("clone_deets.csv")
clone_camp=pd.read_csv("clonecamp.csv")
clone_bot=pd.read_csv("clonebot.csv")
# to read the dataset

In [17]:
clone_deet.head(100)

,id,camp_id,camp_name,non_cloaked_camp_id,network_camp_id,network_zmails_url,camp_creator_email,bad_link,good_link,link_status,...,categories,flags_ip_check,allowed_device,unique_click_status,advance_bot_prots,created_at,updated_at,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,1,97241,Shopee SG,97241-3,NaN,NaN,ravi.ranjan@3dot14.co,https://shopee.sg/shop/238878951,https://invl.io/cljqu8n,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,26-09-2023 08:22,26-09-2023 08:22
1,2,62601,Shopee MY,62601-9,NaN,NaN,ravi.ranjan@3dot14.co,https://shopee.com.my/,https://ir3.xyz/64f6d74506814,0,...,NaN,f,"[desktop""",mobile,tablet,"other]""",Yes,Yes,26-09-2023 08:42,26-09-2023 10:10
2,3,90950,Democrata BR,90950-8,NaN,NaN,ravi.ranjan@3dot14.co,https://www.democrata.com.br/,https://rankmediabrasil.g2afse.com/click?pid=5...,0,...,NaN,f,"[desktop""",mobile,tablet,"other]""",Yes,Yes,26-09-2023 09:51,26-09-2023 10:12
3,4,61889,CycleGear US,61889-8,NaN,NaN,ravi.ranjan@3dot14.co,https://www.cyclegear.com/,https://imp.i105279.net/k0Rnjd,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,27-09-2023 10:21,27-09-2023 10:21
4,5,4076,Pillow Talk AU,4076-5,NaN,NaN,ravi.ranjan@3dot14.co,https://www.pillowtalk.com.au/,https://track.flexlinkspro.com/g.ashx?foid=1.4...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,27-09-2023 12:33,27-09-2023 12:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,41383,Dominos UK,41383-6,NaN,NaN,ravi.ranjan@3dot14.co,https://www.dominos.co.uk/,https://adpgtrack.com/click/6643563d2bfa817d68...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,17-05-2024 06:56,17-05-2024 06:56
70,71,45761,C&A PL,45761-1,NaN,NaN,ravi.ranjan@3dot14.co,https://www.c-and-a.com/eu/en/shop,https://wtios.com/click?campaign_id=165876&pub...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,21-05-2024 07:26,21-05-2024 07:26
71,72,96519,8a Pl,96519-1,NaN,NaN,ravi.ranjan@3dot14.co,https://8a.pl/,https://t.trkgbl.com/click?campaign_id=215158&...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,23-05-2024 06:10,23-05-2024 06:10
72,73,87155,8a PL,87155-8,NaN,NaN,ravi.ranjan@3dot14.co,https://8a.pl/,https://t.trkgbl.com/click?campaign_id=215158&...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,23-05-2024 06:15,23-05-2024 06:15
73,74,10826,8a PL,10826-9,NaN,NaN,ravi.ranjan@3dot14.co,https://8a.pl/,https://t.trkgbl.com/click?campaign_id=215158&...,0,...,NaN,NaN,"[desktop""",mobile,tablet,"other]""",Yes,Yes,23-05-2024 06:22,23-05-2024 06:22

In [13]:
clone_camp.head(5)

,id,camp_id,user_ip,user_country,user_state,click_type,values,referal,source,created_at,updated_at
0,1,97241,14.102.190.106,IN,Haryana,NaN,NaN,offer.zmails.co,NaN,2023-09-26,2023-09-26 09:51:06
1,2,90950,2401:4900:4153:a098:759e:b1ab:6ecd:bb79,IN,National Capital Territory of Delhi,NaN,NaN,offer.zmails.co,NaN,2023-09-26,2023-09-26 09:51:25
2,3,90950,2401:4900:4153:a098:759e:b1ab:6ecd:bb79,IN,National Capital Territory of Delhi,1.0,NaN,offer.zmails.co,NaN,2023-09-26,2023-09-26 09:51:49
3,4,62601,14.98.95.158,IN,National Capital Territory of Delhi,NaN,NaN,offer.zmails.co,NaN,2023-09-26,2023-09-26 09:56:05
4,5,62601,14.102.190.106,IN,Haryana,1.0,NaN,offer.zmails.co,NaN,2023-09-26,2023-09-26 09:56:45

In [14]:
clone_bot.head(5)

,block_id,camp_id,blocked_ip,bot_country,bot_state,values,created_at,updated_at
0,1,62601,203.101.82.6,IN,National Capital Territory of Delhi,NaN,2023-09-26 10:08:17,2023-09-26 10:08:17
1,2,62601,203.82.75.134,MY,Kuala Lumpur,NaN,2023-09-27 07:40:05,2023-09-27 07:40:05
2,3,62601,122.129.122.86,MY,Perak,NaN,2023-09-27 07:52:55,2023-09-27 07:52:55
3,4,62601,64.233.173.67,KR,Seoul,NaN,2023-09-27 08:36:18,2023-09-27 08:36:18
4,5,62601,64.233.173.68,KR,Seoul,NaN,2023-09-27 08:36:19,2023-09-27 08:36:19

In [19]:
clone_bot.rename(columns={'blocked_ip': 'user_ip'}, inplace=True)

In [20]:

# Convert camp_id columns to the same type if needed (e.g., string)
clone_bot['camp_id'] = clone_bot['camp_id'].astype(str)
clone_camp['camp_id'] = clone_camp['camp_id'].astype(str)

# Merge the two dataframes on 'camp_id' and 'user_ip'
merged_df = pd.merge(clone_bot, clone_camp, on=['camp_id', 'user_ip'], how='inner')

# Extract the 'user_ip' column from the merged dataframe
common_user_ips = merged_df['user_ip'].unique()

# Display the list of user IPs common in both dataframes
print(common_user_ips)

['27.125.249.172' '113.211.208.171' '114.124.131.73' '27.125.250.138'
 '27.125.240.251' '195.133.131.120' '113.211.209.81' '115.164.220.27'
 '27.125.249.36' '115.164.94.248' '175.139.252.73' '27.125.246.106'
 '82.132.227.36' '27.125.245.1' '27.125.242.214' '27.125.242.191'
 '82.132.236.132' '183.171.66.185' '103.29.59.211' '27.125.245.245'
 '202.170.48.12' '113.211.210.171' '115.164.119.34' '113.210.105.126'
 '110.159.103.155' '82.132.244.101' '175.136.140.81' '92.40.218.171'
 '113.211.210.170' '101.53.218.146' '5.173.240.70' '83.137.6.226'
 '186.235.191.131' '5.173.137.19' '194.116.166.166' '185.209.70.106'
 '103.8.140.17' '163.47.228.155' '92.40.187.18' '27.125.244.4'
 '203.211.78.181' '103.15.126.166' '83.137.6.234' '82.132.247.96'
 '195.248.254.204' '163.116.157.7' '213.248.108.230' '77.102.239.199'
 '92.40.180.162' '219.88.225.157' '82.132.230.1' '5.173.127.207'
 '148.252.141.131' '27.125.246.58' '101.53.218.73' '46.184.89.155'
 '5.173.33.156' '152.71.207.141' '149.167.165.116' '110.159.236.174'
 '80.124.15.50' '92.40.191.126' '218.208.8.74' '37.60.108.40'
 '83.137.6.241' '58.84.227.53' '27.125.249.153' '203.211.79.116'
 '45.249.116.247' '83.137.6.250' '183.171.71.32' '27.125.242.152'
 '82.132.244.186' '115.189.132.47' '83.137.6.248' '83.137.6.225'
 '5.173.206.21' '92.40.190.76' '5.173.240.139' '92.40.186.118'
 '31.0.26.23' '82.132.239.167' '210.55.72.69' '58.26.207.19'
 '103.105.20.7' '103.15.126.164' '180.75.243.147' '82.132.230.233'
 '5.173.129.155' '219.88.225.161' '161.29.233.50' '94.31.28.100'
 '92.40.190.127' '203.211.77.186' '210.19.91.131' '121.121.170.123'
 '115.189.80.165' '92.40.217.237' '5.173.28.16' '180.75.236.211'
 '202.0.124.33' '103.78.35.106' '101.53.218.166' '213.248.108.235'
 '118.149.84.136' '82.132.218.231' '92.40.191.227' '82.160.24.54'
 '92.40.184.3' '91.233.184.18' '92.40.180.85' '92.40.200.118'
 '217.128.43.50' '213.248.108.232' '195.78.15.243' '92.239.95.139'
 '176.168.65.141' '5.173.249.94' '89.197.181.242' '5.63.188.38'
 '195.78.31.200' '185.136.224.2' '78.24.201.104' '92.40.200.79'
 '87.254.231.192' '85.234.205.221' '92.40.187.105' '103.26.16.75'
 '185.138.237.202' '185.186.38.227' '147.235.203.88' '93.95.92.26'
 '83.137.6.239' '193.19.165.118' '185.170.224.94' '118.92.232.36'
 '87.254.248.248' '92.40.181.176' '31.0.250.17' '121.79.249.47'
 '93.159.154.34' '118.93.167.104' '193.19.165.57' '77.242.237.160'
 '185.178.236.90' '77.65.18.82' '92.40.182.201' '178.19.179.244'
 '92.40.180.90' '109.70.17.126' '185.164.212.61' '110.39.177.46'
 '118.93.190.43' '91.90.160.152' '92.40.199.221' '82.216.116.36'
 '112.213.43.207' '193.55.175.19' '213.248.108.253' '92.40.190.226'
 '217.175.86.226' '82.65.221.241' '5.173.204.43' '185.150.251.189'
 '188.125.138.226' '83.150.237.45' '193.251.9.37' '5.173.232.58'
 '219.88.225.159' '92.40.170.176' '92.40.184.0' '82.37.14.38'
 '148.252.141.93' '60.234.22.34' '91.246.215.246' '92.40.187.101'
 '92.40.184.235' '92.40.186.1' '185.132.74.130' '202.49.183.87'
 '92.40.214.172' '92.40.171.12' '195.78.31.188' '92.40.184.159'
 '92.40.199.190' '195.74.108.234' '92.40.171.163']

In [28]:
merged_df

,block_id,camp_id,user_ip,bot_country,bot_state,values_x,created_at_x,updated_at_x,id,user_country,user_state,click_type,values_y,referal,source,created_at_y,updated_at_y
0,57,61620,27.125.249.172,MY,Kuala Lumpur,NaN,2023-09-28 07:35:30,2023-09-28 07:35:30,251,MY,Kuala Lumpur,0.0,NaN,premiumoffer.thetredwe.com,NaN,2023-09-28,2023-09-28 07:35:20
1,58,61620,113.211.208.171,MY,Selangor,NaN,2023-09-28 08:07:38,2023-09-28 08:07:38,7523,MY,Selangor,0.0,NaN,premiumoffer.thetredwe.com,NaN,2023-10-09,2023-10-09 10:20:13
2,167,62601,114.124.131.73,ID,Jakarta,NaN,2023-09-29 14:07:20,2023-09-29 14:07:20,802,ID,Jakarta,1.0,NaN,offer.zmails.co,NaN,2023-09-29,2023-09-29 14:07:08
3,208,61620,27.125.250.138,MY,Kuala Lumpur,NaN,2023-09-30 06:05:09,2023-09-30 06:05:09,1009,MY,Kuala Lumpur,0.0,NaN,premiumoffer.thetredwe.com,NaN,2023-09-30,2023-09-30 06:04:59
4,239,62601,27.125.240.251,MY,Kuala Lumpur,NaN,2023-09-30 14:24:38,2023-09-30 14:24:38,1413,MY,Kuala Lumpur,0.0,NaN,offer.zmails.co,NaN,2023-09-30,2023-09-30 14:23:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,39153,20446,92.40.184.159,GB,England,NaN,2023-11-28 20:26:55,2023-11-28 20:26:55,47709,GB,England,0.0,NaN,offer.zmails.co,NaN,2023-10-16,2023-10-16 04:21:46
957,40778,20446,92.40.199.190,GB,England,NaN,2023-11-29 19:32:33,2023-11-29 19:32:33,25520,GB,Wales,0.0,NaN,offer.zmails.co,NaN,2023-10-12,2023-10-12 18:48:26
958,45887,80109,195.74.108.234,GB,England,NaN,2023-12-05 16:03:20,2023-12-05 16:03:20,20519,GB,England,0.0,NaN,offer.zmails.co,NaN,2023-10-11,2023-10-11 22:25:03
959,46151,20446,92.40.171.163,GB,England,NaN,2023-12-05 23:19:33,2023-12-05 23:19:33,26528,GB,England,0.0,NaN,offer.zmails.co,NaN,2023-10-12,2023-10-12 22:05:14
960,46152,20446,92.40.171.163,GB,England,NaN,2023-12-05 23:19:34,2023-12-05 23:19:34,26528,GB,England,0.0,NaN,offer.zmails.co,NaN,2023-10-12,2023-10-12 22:05:14

In [26]:
list=merged_df['user_ip'].sort_values()

In [27]:
list

35     101.53.218.146
438    101.53.218.166
437    101.53.218.166
79      101.53.218.73
310      103.105.20.7
            ...
396      94.31.28.100
395      94.31.28.100
394      94.31.28.100
402      94.31.28.100
403      94.31.28.100
Name: user_ip, Length: 961, dtype: object

In [31]:
merged_df[merged_df['camp_id'] == 6782]

Empty DataFrame
Columns: [block_id, camp_id, user_ip, bot_country, bot_state, values_x, created_at_x, updated_at_x, id, user_country, user_state, click_type, values_y, referal, source, created_at_y, updated_at_y]
Index: []

In [38]:
l=common_user_ips.tolist()

In [41]:
df = pd.DataFrame(l, columns=['IP'])
df.to_csv("IP.csv", index=False)